BasedOnStyle: LLVM
IndentWidth: 4
ColumnLimit: 100
PointerAlignment: Left
BreakBeforeBraces: Custom
BraceWrapping:
  AfterFunction: true
  AfterClass: true
  AfterStruct: true
  AfterEnum: true
  AfterNamespace: false
  AfterControlStatement: Never
FixNamespaceComments: true
SortIncludes: CaseSensitive
IncludeBlocks: Regroup